.center {
  display: grid;
  place-items: center;
  height: calc(100vh - 220px);
}

.logo-container {
  margin-bottom: 1.5rem;
}

.form-container,
.signup {
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 50px 40px;
}

.signup {
  font-size: 12px;
  margin-top: 10px;
  padding: 25px 40px;
  text-align: center;
}

.signup a {
  color: #3897f0;
  text-decoration: underline;
}

.btn {
  margin-top: 20px;
  background-color: #3897f0;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  width: 100%;
  color: #fff;
}

.btn:disabled {
  background-color: #a1a1a171;
  cursor: default;
}
