.container {
    position: absolute;
    top: 232px;
    right: 20%;
    left: 62%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    z-index: 4;
}

.form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #0095f6;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}

.btn:hover {
    border: 1px solid #0095f6;
    background-color: #fff; 
    color: #0095f6;
}