.card {
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 100%;
    max-width: 650px;
    margin-bottom: 65px;
}

.post-image {
    max-width: 100%;
}

.post-info {
    padding: 15px 20px;
}

.post-likes {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}