.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 65px;
}

.arrow {
  height: 14px;
  width: 14px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  content: " ";
  background-color: #fff;
  border: 1px solid rgb(219, 219, 219);
  border-bottom: none;
  border-right: none;
}

.searchBox {
  position: absolute;
  top: 7px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  width: 250px;
}

.loading {
  text-align: center;
  padding: 5px 0;
}

.error {
  padding: 15px;
  text-align: center;
  font-size: 14px;
}
