.form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form textarea {
  height: 150px;
  resize: none;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.actions button {
  color: #fff;
  border-radius: 5px;
  border: 1px solid #0095f6;
  background-color: #0095f6;
  padding: 8px 24px;
  font-size: 16px;
  transition: 0.2s all ease-in-out;
}

.actions button:disabled {
  pointer-events: none;
}

.actions button:hover {
  background-color: #fff;
  color: #0095f6;
}

.actions a {
  color: #0095f6;
  font-size: 16px;
  font-weight: 600;
}

.actions a:nth-child(2) {
  color: #ed4956;
}

.actions a:hover {
  text-decoration: underline;
}
