.add-comment {
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-comment textarea {
    width: 80%;
    border: 0;
    font-size: 14px;
    resize: none;
    height: 20px;
}

.add-comment img {
    cursor: pointer;
    width: 5%;
}