.container {
  border-top: 1px solid #efefef;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container * {
  line-height: 18px;
  font-size: 14px;
  border: 0;
}

.container textarea {
  width: 80%;
  resize: none;
  color: #262626;
}

.container button {
  width: 10%;
  color: #3897f0;
  font-weight: bold;
  outline: 0;
  background: none;
}

.container button:disabled {
  opacity: 0.3;
}
