.container {
  width: 100%;
  background-color: #fff;
  padding: 50px;
  border: 1px solid #efefef;
  border-radius: 3px;
  text-align: center;
}

.heading,
.paragraph {
  color: #262626;
  font-size: 14px;
  line-height: 24px;
}

.heading {
  font-weight: 600;
  margin-bottom: 13px;
}
