.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 45px;
}

.content {
  width: 500px;
  background-color: #fff;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.arrow {
  top: -7px;
  height: 14px;
  width: 14px;
  transform: rotate(45deg);
  position: absolute;
  content: " ";
  background-color: #fff;
  border: 1px solid rgb(219, 219, 219);
  border-bottom: none;
  border-right: none;
}

.error {
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}
