.container {
    height: 167px;
    width: 935px;
    background-color: #fff;
    padding: 40px;
    border: 1px solid #efefef;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading, .paragraph {
    color: #262626;
    font-size: 14px;
    line-height: 24px;
}

.heading {
    font-weight: 600;
}

.paragraph {
    margin-top: 13px;
}