{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "airbnb"],
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "linebreak-style": "off",
    "arrow-body-style": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-one-expression-per-line": "off",
    "object-curly-newline": "off",
    "no-plusplus": "off",
    "jsx-a11y/media-has-caption": "off",
    "no-underscore-dangle": "off",
    "react/function-component-definition": "off",
    "react/jsx-no-constructed-context-values": "off"
  }
}
