.form-input-container {
    margin: 2rem 0;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.input {
    border-radius: 3px;
    border: 1px solid rgb(219,219,219);
    color: rgb(38, 38, 38);
    padding: 0 10px;
    height: 32px;
    width: 100%;
}