.post-header {
    padding: 15px;
    display: flex;
    align-items: center;
}

.post-avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.post-author {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}

.location {
    font-size: 10px;
}

.link {
    color: #000;
}