.header {
  background-color: #fff;
  border-bottom: 1.2px solid rgb(235, 235, 235);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 4;
}
 
.logoContainer,
.navIcons {
  width: 180px;
}

.nav,
.navIcons {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.navIcons {
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 95%;
    justify-content: space-between;
  }
}