.aside {
  width: 400px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menuBtn {
  background: none;
  border: none;
  padding: 0 12px;
}

.content {
  height: 738px;
  border-top: 1px solid rgb(219, 219, 219);
}

.commentSection::-webkit-scrollbar {
  width: 0 !important;
}

.commentSection {
  height: 81%;
  border-bottom: 1px solid rgb(219, 219, 219);
  overflow-y: scroll;
}
