.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    height: 14px;
    width: 14px;
    z-index: 1;
    transform: rotate(45deg);
    position: absolute;
    top: 62px;
    content: " ";
    background-color: #fff;
    margin: auto;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0 0 5px 1px rgba(219, 219, 219, 0.975);
}

.box {
    position: absolute;
    top: 69px;
    right: 370px;
    width: 515px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-top: 1px solid #fff;
    border-radius: 3px;
    z-index: 9;
}

.error {
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 1768px) {
    .box {
        right: 350px;
    }
}

@media screen and (max-width: 1460px) {
    .box {
        right: 250px;
    }
}

@media screen and (max-width: 975px) {
    .box {
        right: 150px;
    }
}