.play-button {
    width: 600px;
    height: 600px;
    position: absolute;
    display: grid;
    place-items: center;
}

.video-container {
    cursor: pointer;
}

.post-image {
    height: 600px;
    width: 600px;
    object-fit: cover;
}

.feed-post {
    height: 700px;
    width: 648px;
    object-fit: cover;
}

.feed-button {
    height: 700px;
    width: 648px;
    position: absolute;
    display: grid;
    place-items: center;
}