.container {
  cursor: pointer;
  min-width: 600px;
  max-width: 750px;
  position: relative;
}

.playBtn {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.post,
.feed {
  width: 100%;
  object-fit: cover;
}

.post {
  height: 800px;
}

.feed {
  height: 750px;
}
