.container {
  padding-top: 200px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.link {
  color: #00376b;
  text-decoration: underline;
}

.container h1 {
  font-size: 28px;
  margin-bottom: 21px;
}

.container p {
  font-size: 20px;
  line-height: 30px;
}
