.feed {
  padding: 30px 50px;
  max-width: 950px;
  margin: 0 auto;
}

.emptyFeed {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
  padding: 80px 40px;
  text-align: center;
}

.imgContainer {
  width: 140px;
  height: 140px;
  padding: 27px;
  margin: 0 auto 50px;
  border: 3px solid black;
  border-radius: 50%;
}

.emptyFeed h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.emptyFeed p {
  font-size: 18px;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .imgContainer {
    border: none;
    margin-bottom: 40px;
    padding: 0;
    width: 80px;
    height: 80px;
  }

  .emptyFeed h1 {
    font-size: 20px;
  }

  .emptyFeed p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .feed {
    padding: 100px 20px 0;
  }

  .emptyFeed {
    padding: 50px 30px;
  }
}
